/* toc - permalink */
.toc-permalink-override {
  margin-left: 0.5rem;
  font-size: 75%;
}

/* toc - icon */
h1 > a.toc-permalink-override,
h4 > a.toc-permalink-override,
h5 > a.toc-permalink-override,
h6 > a.toc-permalink-override {
  display: none;
}

/* toc - headings and content */
#table-of-contents + .toc,
#related-topics + ul {
  display: block;
}

#table-of-contents,
#related-topics {
  display: block;
}

@media (min-width: 76.25rem) {
  #table-of-contents + .toc,
  #related-topics + ul {
    display: none !important;
  }

  #table-of-contents,
  #related-topics {
    display: none !important;
  }
}

/* mkdocs-material */
.md-content {
  max-width: 768px;
}

footer {
  display: none;
}
